:root {
    --timing: 400ms;
    --rotation: 20deg;
}
$time: 500ms;
$rotate: 25deg;

body {
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    perspective: 1000px;
}

.yoda {
    position: relative;
    height: 500px;
    aspect-ratio: 9/16;
    // background-color: red;
    transform-style: preserve-3d;
    transition: transform $time ease;

    img {
        max-width: 100%;
    }

    .logo {
        left: 0;
        bottom: 20px;
        transform: translateZ(20px);
        position: absolute;
        transition:
            bottom $time ease,
            transform $time ease;
        filter: invert(100%);
    }
    &:hover .logo {
        opacity: 1;
        bottom: 40px;
        transform: translateZ(85px) rotateX(calc(-1 * $rotate));
    }

    .front-image {
        opacity: 0;
        left: 0;
        bottom: 0;
        transform: translateZ(0px);
        position: absolute;
        transition:
            bottom $time ease,
            opacity $time ease,
            transform $time ease;
    }
    &:hover .front-image {
        opacity: 1;
        bottom: 80px;
        transform: translateZ(80px) rotateX(calc(-1 * $rotate));
    }

    .bg-image {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        object-position: -150px center;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: inset 0 0 80px 10px black;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity $time ease;
    }
    &::before {
        content: "";
        position: absolute;
        left: 5%;
        background-color: black;
        filter: blur(20px);
        width: 90%;
        height: 20%;
        opacity: 1;
        bottom: 0;
        transition:
            opacity $time ease,
            bottom $time ease;
        transform: translateZ(-20px);
    }
    &:hover {
        transform: rotateX($rotate);
    }
    &:hover::after {
        opacity: 1;
    }
    &:hover::before {
        bottom: -30px;
        transform: translateZ(-20px), rotateX(calc(-1 * $rotate));
    }
}
